@page {
    size: A3 landscape;
}

* {
    box-sizing: border-box;
}

html {
    font-family: 'Playfair Display', serif;
    font-size: 16px;
}

.calendar-cover {
    break-inside: avoid;
    break-after: left;
    background-color: purple;
    width: 100%;
    height: 100%;
}

.month-cover {
    break-inside: avoid;
    break-after: right;
    background-color: yellow;
    width: 100%;
    height: 100%;
}

.month {
    display: flex;
    flex-direction: column;
}

.weekdays {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.weekday {
    text-align: center;
    font-size: 1.2rem;
    padding: 0.4rem;
}

.month-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.month.weeks-4 > .month-grid {
    grid-template-rows: repeat(4, 1fr);
}

.month.weeks-5 > .month-grid {
    grid-template-rows: repeat(5, 1fr);
}

.month.weeks-6 > .month-grid {
    grid-template-rows: repeat(6, 1fr);
}

.month-name {
    text-align: center;
}

.full.month {
    break-inside: avoid;
    break-after: left;
    width: 100%;
    height: 100%;
}

.full > .month-grid {
    background-color: black;
    gap: 1px;
    padding: 1px;
    flex: 1;
    min-height: 0;
}

.full > .month-grid > .day {
    overflow: auto;
    position: relative;
}

.full > .month-grid > .day > .events {
    position: absolute;
    bottom: 0.6rem;
    left: 0.6rem;
    font-size: 0.8rem;
}

.full > .month-name {
    font-size: 2rem;
    padding: 0.5rem;
}

.full > .month-grid > * {
    background-color: white;
    padding: 0.6rem;
    overflow: hidden;
}

.preview.month {
    background-color: white;
}

.preview.month > .month-name {
    font-size: 0.8rem;
}

.preview > .month-grid > .day {
    display: grid;
    place-items: center;
}
